#!/usr/bin/make -f

%:
	dh $@

ifneq ($(filter maemo,$(DEB_BUILD_PROFILES)),)
    QMAKESPEC = -spec maemo
endif
override_dh_auto_configure:
	dh_auto_configure -- dorian.pro $(QMAKESPEC)

# Disable dh_dwz enabled with debhelper 12, as it do not seem to work
# on Maemo
override_dh_dwz:
